<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <script src="/scripts/script.js" defer></script>
    <title>Lost? - Helper Hub</title>
  </head>
  <body class="bg-yellow-200 font-oswald">
    <%- include('partials/nav.ejs') %>
    <div class="flex justify-center items-center h-screen">
      <a href="/" class="text-8xl"
        >Are you lost? Please go back &amp; try again.</a
      >
      <img
        src="/images/blob6.svg"
        alt="blob"
        class="absolute drop-shadow-neo-blue -z-10"
      />
    </div>
  </body>
</html>
