<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FontAwesome 6.2.0 CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/output.css" rel="stylesheet" />
    <script src="/scripts/script.js" defer></script>
    <title>Helper Hub</title>
  </head>
  <body
    class="bg-fuchsia-400 font-oswald bg-[url('/images/blob-scatter-2.svg')]"
  >
    <%- include('partials/navDash.ejs') %>
    <main>
      <div class="flex justify-center items-center pt-8 pl-4">
        <p class="text-8xl">Welcome <%= `${account.fname}!` %></p>
      </div>

      <section class="text-gray-800 body-font -rotate-1">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="flex flex-wrap -m-4 mx-auto">
            <div class="p-4 w-[90%] lg:w-1/2 md:w-full">
              <div
                class="flex border-2 bg-[url('/images/circle-scatter-1.svg')] shadow-neo-lg rounded-sm border-black p-8 sm:flex-row flex-col hover:shadow-neo-sm hover:rotate-1 hover:scale-105 transition-all"
              >
                <div
                  class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full drop-shadow-neo-purple border-4 border-black bg-indigo-100 text-indigo-500 flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-8 h-8 stroke-[1.5]"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z"
                    ></path>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                    Shooting Stars
                  </h2>
                  <p class="leading-relaxed text-base">
                    Look for the Helpers. Find the Helpers. Rate their service.
                    Leave a comment!
                  </p>
                  <a
                    class="mt-3 text-indigo-500 inline-flex items-center underline font-medium"
                    href="/explore"
                    >EXPLORE
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-4 w-[90%] lg:w-1/2 md:w-full translate-x-8">
              <div
                class="flex border-2 bg-[url('/images/circle-scatter-1.svg')] shadow-neo-lg rounded-sm border-black p-8 sm:flex-row flex-col hover:shadow-neo-sm hover:rotate-1 hover:scale-105 transition-all"
              >
                <div
                  class="w-16 h-16 sm:mr-8 sm:mb-0 mb-4 inline-flex items-center justify-center rounded-full drop-shadow-neo-purple border-4 border-black bg-indigo-100 text-indigo-500 flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="w-10 h-10"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
                    The Profile
                  </h2>
                  <p class="leading-relaxed text-base">
                    Head over to the Profile section to view and update your
                    information.
                  </p>
                  <a
                    class="mt-3 text-indigo-500 inline-flex items-center underline font-medium"
                    href="/user/<%= account.id %>"
                    >MY PROFILE
                    <svg
                      fill="none"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      class="w-4 h-4 ml-2"
                      viewBox="0 0 24 24"
                    >
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
