<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <script src="/scripts/script.js" defer></script>
    <title>Helper Hub</title>
  </head>
  <body
    class="bg-pinky font-oswald select-none max-h-[calc(100vh-4.25rem)] overflow-x-hidden overflow-y-hidden"
  >
    <%- include('partials/nav.ejs') %>
    <main>
      <section
        class="flex flex-col justify-center items-center min-h-screen relative"
      >
        <div class="w-full h-screen flex items-center justify-center">
          <img
            src="/images/green_blob.png"
            class="absolute -z-10 top-[17%] saturate-[.67] drop-shadow-neo-green"
          />
          <img
            class="absolute -z-10 -scale-y-100"
            src="/images/paper_plane2.png"
          />
          <form
            method="post"
            action="userSignUp"
            class="w-full transition-all md:w-1/3"
          >
            <h2 class="text-3xl text-center text-black mb-8">Sign Up</h2>
            <div class="px-12 pb-10">
              <div class="w-full mb-4">
                <div class="flex items-center">
                  <input
                    type="text"
                    placeholder="First Name"
                    name="fName"
                    class="w-full rounded-[1px] px-3 py-2 text-gray-700 border-2 border-black shadow-neo-sm focus:shadow-neo-md focus:outline-none"
                    onfocus="scrollDown()"
                    required
                  />
                </div>
              </div>
              <div class="w-full mb-4">
                <div class="flex items-center">
                  <input
                    type="text"
                    placeholder="Last Name"
                    name="lName"
                    class="w-full rounded-[1px] px-3 py-2 text-gray-700 border-2 border-black shadow-neo-sm focus:shadow-neo-md focus:outline-none"
                    onfocus="scrollDown()"
                    required
                  />
                </div>
              </div>
              <div class="w-full mb-4">
                <div class="flex items-center">
                  <input
                    type="email"
                    placeholder="Email Address"
                    name="email"
                    autocomplete="username"
                    class="w-full rounded-[1px] px-3 py-2 text-gray-700 border-2 border-black shadow-neo-sm focus:shadow-neo-md focus:outline-none"
                    onfocus="scrollDown()"
                    required
                  />
                </div>
              </div>
              <div class="w-full mb-4">
                <div class="flex items-center">
                  <input
                    type="password"
                    placeholder="Password"
                    id="pass"
                    name="password"
                    autocomplete="new-password"
                    onkeyup="validatePass('signup')"
                    class="w-full rounded-[1px] px-3 py-2 text-gray-700 border-2 border-black shadow-neo-sm focus:shadow-neo-md focus:outline-none"
                    onfocus="scrollDown()"
                    required
                  />
                </div>
              </div>
              <div class="w-full mb-4">
                <div class="flex items-center">
                  <input
                    type="password"
                    placeholder="Confirm Password"
                    id="confirmPass"
                    name="confirmPass"
                    autocomplete="new-password"
                    onkeyup="validatePass('signup')"
                    onfocus="scrollDown()"
                    class="w-full rounded-[1px] px-3 py-2 text-gray-700 border-2 border-black shadow-neo-sm focus:shadow-neo-md focus:outline-none"
                    required
                  />
                </div>
              </div>
              <div
                id="wrongPass"
                class="font-bold text-lg text-cyan-300 drop-shadow-neo-xsm"
              ></div>
              <button
                type="submit"
                id="submit-btn-signup"
                class=" -rotate-1 py-2 mt-8 bg-blue-400 text-black focus:shadow-neo-md focus:outline-none font-bold text-3xl px-16 border-4 border-black w-full mx-auto shadow-neo-sm hover:shadow-neo-lg rounded-[1px] transition-all hover:rotate-0 hover:-hue-rotate-60 active:shadow-neo-md"
              >
                Let's Go!
              </button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", _ => {
        console.log('DOM Loaded');
        scrollDown();
      });
    </script>
  </body>
</html>
